.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Helvetica, "Trebuchet MS", sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
 }


.modal:target {
  opacity: 1;
  pointer-events: auto;

}



.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
  box-shadow: 5px 5px 15px black;
  border-radius: 10px;
}



.fechar {
  text-decoration: none;
  position: fixed;
  width: 30px;
  right: 320px;
  top: 90px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #000;
  border-radius: 50%;
  font-size: 16px;
  color: gray;
  z-index: 3;
}

#abrirModal a{
  color: white;
}

a.fechar{
  color: white;
}


.text-modal{
  color: black;
  font-weight: bold;
  margin-top: 10px;
  line-height: 20px;
}

.text-modal h1{
  color: yellow;
  background: black;
  border-radius: 5px;
  display: inline;
  padding: 5px;
  float: right;
  margin-top: -50px;
}

/*galeria slider*/
#container-js img{
    position:absolute;
    width:100%;
    height:100%;
    margin-left:100%;

    -webkit-transition: margin-left 500ms ease-in;
    -moz-transition: margin-left 500ms ease-in;
    -o-transition: margin-left 500ms ease-in;
    transition: margin-left 500ms ease-in;
}
div #container-js{
    overflow:hidden;
    position: relative;
    width:400px;
    height:400px;
}
.ativa{
    margin-left:0%;
}

.modal h2{ /*titulo carro*/
  display: inline;
  padding: 7px;
}