*{
    margin:0;
    padding:0;
    border:0;
}


body{
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background: #fff url(../img/fundo-loja1.jpeg) fixed center top;
	background-size: cover;
	color: #fff;
}

/*formtatando menu top*/
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}


#menu ul{
	margin-top: 0;
	background: #fff;
	border-radius: 5px;
	float: left;
}

#menu ul li{
	float: left;
}

#menu ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #000;
	border-left: 1px solid #fff;
	box-shadow: 5px 5px 8px black;

}

#menu ul .primeiro a{
	border: none;
}

#menu ul a:hover{
	color: #808080;
}

.menu-logo{

	width: 150px;
	height: 43px;
	padding-left: 15px;
	background: url(../img/maxorginal.png) no-repeat right top;
	float: left;
	margin-left: 23%;
	text-indent: -9000px;
}

#menu{

	position: fixed;
	width: 100%;
	height: 60px;
	padding-top: 25px;
	background-color: rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(5px);
	box-shadow: 2px 2px 9px black;
	z-index: 1;

}

#nome-menu{

	position: absolute;
	top: 25%;
	left: 35%;
	text-align: center;
}



#container{
	position: absolute;
	margin-bottom: 15px;
	width: 100%;
	background-color: rgba(0, 2, 0, 0.7);
	backdrop-filter: blur(5px);
	border-radius: 2px;
	box-shadow: 5px 5px 15px black;
	z-index: 0;
}

body.loja1 #nome-menu a#loja1,/*deixar marcado no menu*/
body.conceito #nome-menu a#conceito,
body.aldeota #nome-menu a#aldeota,
body.repasse #nome-menu a#repasse,
body.motos #nome-menu a#motos
{
	color: gray;
	cursor: text;
}

/*fomatando conteudo*/
a:link, a:visited{
	color: black;
}


#conteudo{
	margin-top: 120px;
}

.caixa-lateral{
	
	width: 23%;
	margin: 10px 0 0 20px;/*superior e inferior*/
	padding: 5px 0 5px 15px;
	float: left;
	
}

.caixa-central{
	width: 23%;
	margin: 10px 0 0 10px;/*superior e inferior*/
	padding: 5px 0 5px 0;
	float: left;
}

.caixa-lateral-direita{
	width: 23%;
	margin: 10px 0 0 10px;/*superior e inferior*/
	padding: 5px 0 5px 0;
	float: left;
}

.caixa-lateral-direita2{
	width: 23%;
	margin: 10px 0 0 10px;/*superior e inferior*/
	padding: 5px 0 5px 0;
	float: left;
}

.caixa-conteudo{
	width: 350px;
	height: 158px;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 5px 5px 4px black;
}

.caixa-conteudo-float h6{/*texto dentro do card*/
	font-size: 0.8em;
	display: inline;
	padding: 2px;
	color: #5F5F5F;
	text-transform: uppercase;
}

.caixa-conteudo-float{
	float: left;
	width: 180px;
	font-weight: bold;
}



.caixa-conteudo-float h5{ /*nome valor*/
	display: inline;
	padding: 4px;
	color: #808080;
	float: left;
	margin-top: 10px;
	text-transform: uppercase;
}

.caixa-conteudo-float .valor-caixa{
	color: yellow;
	background-color: #000;
	float: right;
	margin-top: 10px;
	padding: 3px;
	border-radius: 7px;
}



.caixa-conteudo:hover{
	background: #DDDFE0;
}

.caixa-conteudo a:hover{
	color: #000;
}

#titulo-disponivel{
	width: 260px;
}

#pagina{
	float: right;
	display: block;
	padding-right: 15px;
	margin-top: -20px;
}

#pagina a{
	text-decoration: none;
	color: #fff;
	padding: 0 10px;
}

#pagina a:hover{
	background: #000;
	border-radius: 4px;
}

#conteudo h3{
	text-transform: uppercase;
	color: #fff;
	margin-left: 20px;
}

#conteudo h2,h4{
	display: inline;
	position: relative;
	left: 40px;
	text-align: right;
	font-size: 1.2em;
	color: #fff;
	background: #000;
	border-radius: 6px;
	padding: 0 6px;
	z-index: 4;
}


#lista-veiculos li{
	padding: 4px;
	height: 62px;
}

#lista-veiculos li a img{
	float: left;
	margin: 0px 8px 0 0;
}

#lista-veiculos li a{
	text-decoration: none;
}

#lista-veiculos li a h3{
font-size: 0.8em;
padding: 0;
color: #3e7ab9;
}

#lista-veiculos li a p{
font-size: 1em
}

/*#lista-veiculos li:hover{
	background: #eee;
	cursor: pointer;
}*/

#titulo-disponivel{
	text-align: center;
}

/*rodape*/
#endereco{
	clear: both;
	
	clear: both;
	font-size: 0.8em;

	margin-left: 33px;
}

#endereco h3{
	color: yellow;
	
	margin-left: 0;
}

#rodape{
	clear: both;
	padding: 10px;
	text-align: right;
	font-size: 0.7em;
}